<!DOCTYPE HTML>
<html>
<head>
<title>会员等级列表</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="__PUBLIC__/Admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="__PUBLIC__/Admin/css/style.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/Admin/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="__PUBLIC__/Admin/js/jquery.min.js"></script>

<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrapper">
     <include file='Public/head' />
        <div id="page-wrapper">
        <div class="col-md-12 graphs">
	   <div class="xs">
  	 <h3><span class="label label-success">会员等级列表</span>&nbsp;<a href="{:U('Admin/Member/addMemberStatus')}"><button type="button" class="btn btn-xs btn-success warning_4">&nbsp;+&nbsp; </button></a></h3>
     <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>会员等级</th>
            <th>积分获得规则</th>
            <th>积分返还规则</th>
            <th>提现规则</th>
            <th>购买规则</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <foreach name='memberstatus' item='v'>
            <tr>
              <th scope="row">{$key+1}</th>
              <td>{$v.title}</td>
              <td>{$v.getrule}</td>
              <td>{$v.repayrule}</td>
              <td>{$v.cashrule}</td>
              <td>{$v.buyrule}</td>
              <td><button type="button" class="btn btn-xs btn-warning warning_44"><a href="{:U('Admin/Member/updateMemberStatus',array('id'=>$v['id']))}" style="color:white;font-size:15px">修改</a></button></td>
            </tr>
          </foreach>
        </tbody>
      </table>
    </div><!-- /.table-responsive -->
   </div>
   

  <include file='Public/footer' />
<link href="__PUBLIC__/Admin/css/custom.css" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/Admin/js/metisMenu.min.js"></script>
<script src="__PUBLIC__/Admin/js/custom.js"></script>
</body>
</html>
