<!DOCTYPE HTML>
<html>
<head>
<title>LXT会员平台</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="__PUBLIC__/Admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="__PUBLIC__/Admin/css/style.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/Admin/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="__PUBLIC__/Admin/js/jquery.min.js"></script>

<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrapper">
     <include file='Public/head' />
        <div id="page-wrapper">
        <div class="graphs">
         <div class="alert alert-info" role="alert">
        <strong>您好！</strong> 这是 LXT 会员积分平台。本平台正在建设中，功能会逐步完善，还请您耐心等待，并提出宝贵建议！
       </div>
           
           
           
           <div class="widget_4">
             <div class="col-md-4 widget_1_box1">
                <div class="coffee">
                <div class="coffee-top">
                    <a href="#"><img class="img-responsive" src="__PUBLIC__/Admin/images/pic4.jpg" alt="">
                    <div class="doe">
                        <h6>{:session('mid')}</h6>
                        <p>{:session('membername')}</p>
                        <p style="color:white">{:C('V.USER_STATUS_TITLE')}</p>
                        <p style="color:yellow">冻结:{$data.left_score}</p>
                    </div>
                    <i></i></a>
                </div>
                <div class="follow">
                  <a href="{:U('Home/Order/orderDetail')}">                   
                    <div class="col-xs-4 two">
                        <p>已返剩余</p>
                        <span>{$data.get_score}</span>
                    </div></a>
                    <a href="{:U('Home/Cash/index')}"> 
                      <div class="col-xs-4 two">
                        <p>提现</p>
                        <span>{$data.cash}</span>
                      </div>
                    </a>
                     <div class="col-xs-4 two">
                        <p>兑换</p>
                        <span>{$data.ex_score}</span>
                    </div>

                    <div class="clearfix"> </div>
                  </a>
                </div>
               </div>
             </div>
             <div class="col-md-4 stats-info3"> 
                <div class="online">
                    <foreach name='member2' item='v'>
                    <div class="online-top">
                        {$key+1}<div class="top-at">
                            <img class="img-responsive" src="__PUBLIC__/Admin/images/status_{$v['memberstatus']}.png" alt="">
                        </div>
                        <div class="top-on">
                            <div class="top-on1">
                                <p style="width:170px">{$v.campany}</p>
                                <span>{$v.score}</span>
                            </div>
                            <label class="round"> </label>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    </foreach>
                </div>
             </div>
             <div class="col-md-4 stats-info stats-info1">
                <div class="panel-heading">
                    <h4 class="panel-title"><span class="label label-default" style='font-size:20px'>最近订单</span></h4>
                </div>
                <div class="panel-body panel-body2">
                    <ul class="list-unstyled">
                        <li><span style='color:black;font-size:15px'>订单内容</span><div class="text-success pull-right">金额</div></li>
                        <foreach name='order' item='v'>
                        <li>·&nbsp;{$v.detail}<div class="text-success pull-right">{$v.money}元</div></li>
                        </foreach>
                    </ul>
                </div>
            </div>
             <div class="clearfix"> </div>
           </div>
            <div class="col-md-6 widget_1_box2">
            
               <button type="button" class="btn btn-info btn-lg"  data-toggle="modal" data-target="#myModal" style="margin-top:25px">
                申请提现
               </button>
               <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal2" style="margin-left:15px;margin-top:25px">
                申请兑换
               </button>
               <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <form class="form-horizontal" method="post" action="{:U('Home/Index/cashHandle')}">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h2 class="modal-title">提现</h2>
                        </div>
                        <div class="modal-body">
                         <div class="alert alert-warning" role="alert">
                          <strong>提醒！</strong>您是{:C('V.USER_STATUS_TITLE')}，提现额度为{:C('V.USER_STATUS_CASHRULE')*10*10}%，10积分=1元，可提现积分为{$data.get_score}
                         </div>
                          
                            <div class="form-group">
                              <label for="disabledinput" class="col-sm-2 control-label">提现积分</label>
                              <div class="row">
                                <div class="col-md-3 grid_box1">
                                  <input type="text" name="amount" class="form-control1" id="disabledinput">
                                  <input type="hidden" name="cashrule" value="{$cashrule}">
                                  <input type="hidden" name="get" value="{$get_money}">
                                </div>
                              </div>
                            </div>
                          
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                          <button type="submit" class="btn-success btn">提交</button>
                        </div>
                        </form>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->

                  </div>
                  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <form class="form-horizontal" method="post" action="{:U('Home/Index/exchangeHandle')}">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h2 class="modal-title">兑换</h2>
                        </div>
                        <div class="modal-body">
                         <div class="alert alert-warning" role="alert">
                          <strong>提醒！</strong>兑换率为100%，确认之后管理员会收到您的请求并主动与您联系
                         </div>
                          
                            <div class="form-group">
                              <label for="disabledinput" class="col-sm-2 control-label">兑换积分</label>
                              <div class="row">
                                <div class="col-md-3 grid_box1">
                                  <input type="text" name="amount" class="form-control1" id="disabledinput">
                                  <input type="hidden" name="get" value="{$get_money}">
                                  <!-- <input type="hidden" name="cashrule" value="{$cashrule}"> -->
                                </div>
                              </div>
                            </div>
                          
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                          <button type="submit" class="btn-success btn">提交</button>
                        </div>
                        </form>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                    </div>
             </div>
             
             
             
             <div class="clearfix"> </div>
      </div>
    <div class="copy">
            <p>Copyright &copy; 2015. <a href='http://green.njtech.edu.cn/' target="_blank">GreenStudio</a> All rights reserved.</p>
  </div>
    </div>
       </div>
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
  

<link href="__PUBLIC__/Admin/css/custom.css" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/Admin/js/metisMenu.min.js"></script>
<script src="__PUBLIC__/Admin/js/custom.js"></script>
</body>
</html>
