<!DOCTYPE HTML>
<html>
<head>
<title>订单详情</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="__PUBLIC__/Admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="__PUBLIC__/Admin/css/style.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/Admin/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="__PUBLIC__/Admin/js/jquery.min.js"></script>

<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrapper">
     <include file='Public/head' />
        <div id="page-wrapper">
        <div class="col-md-12 graphs">
	   <div class="xs">
     <div class="alert alert-warning" role="alert">
        <strong>您好！</strong>这里是您所下的所有订单，您可以查看您的返现区间以及各种信息。
       </div>
  	 <h3><span class="label label-success">订单详情</span></h3></div>
     
      <div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
        <div class="panel-body no-padding">
          <table class="table table-striped">
            <thead>
              <tr class="warning">
                <th>#</th>
                <th>订单编号</th>
                <th>内容</th>
                <th>日期</th>
                <th>天数</th>
                <th>剩余天数</th>
                <th>积分</th>
                <th>已返还</th>
              </tr>
            </thead>
            <tbody>
              <foreach name='order' item='v'>
              <tr>
                <td>{$key+1}</td>
                <td>{$v.oid}</td>
                <td>{$v.detail}</td>
                <td>{$v.createtime}</td>
                <td>{$v.day}</td>
                <td><span class="label label-warning" style='display:block;width:50px;font-size:15px'><?php $d=( $day>$v['day'] ) ? $day-$v['day'] : 0;echo $d;?></td>
                <td>{$v.score}</td>
                <td><span class="label label-danger" style='display:block;width:80px;font-size:15px'>{$v.get_money}</td>
              </tr>
              </foreach>
              <tr class="success">
                <td colspan="10" class="page" align="center">{$page}</td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>
       
   </div>
   
  <include file='Public/footer' />
</body>
</html>
